.result-heading {
  color: #b6b6b6;
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
}

.wrapper {
  margin: 30px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
