.result-heading {
  color: #b6b6b6;
  text-align: center;
  font-size: 36px;
  margin: 20px 0;

  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.wrapper {
  margin: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  opacity: 0;
  transform: translateY(10px);

  &.enter {
    opacity: 1;
    transform: translateY(0);
    transition: 300ms;
  }

  &.leave {
    opacity: 0;
    transform: translateY(10px);
    transition: 300ms;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.fade-enter {
  opacity: 0.01;
  transform: translateY(10px);
}

.transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 300ms;
}

.transition-exit {
  opacity: 1;
  transform: translateY(10px);
}

.transition-exit-active {
  opacity: 0.01;
  transform: translateY(0);
  transition: 300ms;
}
