.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  background: linear-gradient(180deg, rgba(138, 187, 233, 0.42) 0%, rgba(255, 255, 255, 0) 100%);

  .logo {
    width: 190px;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      max-width: 64px;
      max-height: 64px;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
      border-radius: 50%;
    }
  }

  .search-bar {
    height: 100%;
    display: flex;
    align-items: center;

    form {
      height: 45%;
      position: relative;

      label {
        position: absolute;
        font-size: 13px;
        top: 50%;
        left: 15px;
        pointer-events: none;
        transform: translateY(-50%);
        transition: 300ms;

        &.moved {
          top: 0%;
        }
      }

      input {
        padding: 5px;
        padding-left: 15px;
        outline: 0;
        border: 0;
        width: 400px;
        height: 100%;
        border-radius: 999px;
        transition: 200ms;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        &::placeholder {
          color: inherit;
        }
      }
    }
  }

  .powered-by {
    font-size: 0.8rem;
    width: 190px;
    height: 100%;
    display: flex;
    align-items: center;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
